body{
    background-color: silver ;
    color: white ;
    padding: 20px ;
    font-family: Arial, Helvetica, sans-serif ;}
     .phscaleh1{
        background-color: rgb(245, 243, 243);
        background-color: hsla( 0,100%,0.5 );
        color: #64645a ;
        padding: inherit;}
        
        p {
            padding: 5px;
            margin: 0px;}       
 p.zero {
     background-color: rgb( 238,62,128 );}  
 p.one  {
     background-color: rgb( 244,90,139 ) ;}
 p.two  {
     background-color: rgb( 243,106,152 ) ;}
 p.three{
     background-color: rgb( 244,123,166 ) ;}
 p.four {
     background-color: rgb( 245,140,178 ) ;}
 p.five {
     background-color: rgb( 246,159,192 ) ;}
 p.six  {
     background-color: rgb( 245,176,204 ) ;} 
 p.seven{
     background-color: rgb( 0,187,136 ) ;}
 p.eight{
     background-color: rgb( 140,202,242 ) ;}
 p.nine {
     background-color: rgb( 114,193,240 ) ;}
 p.ten  {
     background-color: rgb( 84,182,237 ) ;}
 p.eleven{
     background-color: rgb( 48,170,233 ) ;}
 p.twelve{
     background-color: rgb( 0,160,230 ) ;}
 p.thirten{
     background-color: rgb( 0,149,226 ) ;}
 p.fourten{
     background-color: rgb( 0,136,221 ) ;}
     

div>a{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    height: 20px;
    width: 60px;
    border: 1px solid black;
    padding: 5px;
    margin: 3px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(241, 135, 215);
    color: white;
     border-radius: 0%;}
    div>a:hover{
        background-color: rgb(226, 114, 114);}

@font-face {
    font-family: "myfirstfont" ;
    src: url( "fonts/Roboto-Black.ttf" );}

    .class1{
        font-family: myfirstfont, Georgia, 'Times New Roman', serif;
        color: black;}

    .class2,.class3{
        font-family: 'Gill Sans', 'Gill Sans MT',
         Calibri,'Trebuchet MS', sans-serif;
        color: black;}
              
    .class4{
           font-family: "myfirstfont";
           color: black;} 
        
    .class5{
        font-family: 'Anybody', cursive;
        color: black;


                
           

    